@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
.btn-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page{
  padding: 1.5% 3%;
}